body {
  margin: 0;
  padding: 0;
}
.main {
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  padding: 50px 50px;
  box-sizing:border-box;
}

.wrapper {
  display: inline-flex;
  flex-direction: column;
}

.flex-item:not(last-child) {
  margin-bottom: 20px;
}